<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Produto</title>
</head>

<body>
    <h1>Cadastro de produto</h1>
    <form action="/product/save" method="POST">
        <input type="text" name="nome_produto" placeholder="Nome do Produto">
        <input type="text" name="tipo" placeholder="Tipo do Produto">
        <input type="submit" value="Cadastrar Produto">
    </form>
</body>

</html>