<h3>Edite seu livro</h3>
<form action="/editbook" method="POST">
    <input type="hidden" name="id" value="{{editBook.id}}">
    <label for="edittitle">Titulo:</label>
    <input type="text" name="title" id="edittitle" value="{{editBook.title}}">
    <label for="editPage">Numero de paginas</label>
    <input type="text" name="pageqty" id="editPage" value="{{editBook.pageqty}}">
    <input type="submit" value="Editar">
</form>