<div id="book-page">
  <h1>Livro escolhido</h1>
  <div class="container">
    <h2>{{book.title}}</h2>
    <p>Este livro tem {{book.pageqty}} paginas</p>
    <a href="/books">Voltar</a>

  </div>

</div>