<h1>Livros Disponiveis</h1>
<a href="/">Cadastrar Livro</a>
{{#each books}}
    <div class="books-container">
        <h2>{{this.id}} = Titulo: {{this.title}}</h2>
        <p>Numero de Paginas: {{this.pageqty}}</p>
    </div>
{{/each}}