<h2>Insira seu livro</h2>
<form action="/insert" method="POST">
	<label for="title">Título:</label>
	<input type="text" id="title" name="title" placeholder="Insira um titulo" />
	<label for="pageqty">Numero de paginas:</label>
	<input type="text" id="pageqty" name="pageqty" placeholder="Numero de paginas"/>
    <input type="submit" value="Cadastrar Livro">
</form>