<form action="/users/create" method="POST">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" placeholder="Insira seu nome">
        
    </div>
    <div class="form-control">
        <label for="ocupation">Ocupação:</label>
        <input type="text" name="ocupation" id="ocupation" placeholder="Insira sua profissão">

    </div>
    <div class="form-checkbox">
        <input type="checkbox" name="newsletter" id="newsletter" checked/>
        <label for="newsletter">Receber promoções?</label>
    </div>
    <input type="submit" value="Carastrar">
</form>